<aside class="sidebar">
    <div class="side-box">
        <h3>Приём граждан</h3>
        <table class="small-table">
            <tr><td>Вторник</td><td>9:00 – 12:30</td></tr>
            <tr><td>Четверг</td><td>14:00 – 17:00</td></tr>
        </table>
        <p class="muted">Каб. 105, предварительная запись по телефону 55-21-40</p>
    </div>

    <div class="side-box">
        <h3>Электронная приёмная</h3>
        <p>Задайте вопрос специалисту комитета через личный кабинет, ответ придёт в течение 30 дней.</p>
        <a href="{{ url_for('cabinet') }}" class="btn">Написать обращение</a>
    </div>

    <div class="side-banners">
        <a href="https://www.gosuslugi.ru/" target="_blank" rel="noopener" class="side-banner b-blue">
            <b>Госуслуги</b>
            Подача заявлений на жилищные услуги онлайн
        </a>
        <a href="https://dom.gosuslugi.ru/" target="_blank" rel="noopener" class="side-banner b-green">
            <b>ГИС ЖКХ</b>
            Информация о доме, управляющей компании и начислениях
        </a>
        <a href="https://fondgkh.ru/" target="_blank" rel="noopener" class="side-banner b-gold">
            <b>Фонд содействия реформированию ЖКХ</b>
            Программы капремонта и переселения
        </a>
    </div>
</aside>
